<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--/*@thymesVar id="serviceRequestBody" type="com.capgemini.bedwards.almon.almonmonitoringapi.models.CreateAPIMonitorRequestBody"*/-->
<!--/*@thymesVar id="monitor" type="com.capgemini.bedwards.almon.almondatastore.models.monitor.Monitor"*/-->
<!--/*@thymesVar id="monitorAdapter" type="com.capgemini.bedwards.almon.almonmonitoringapi.monitoring.APIMonitorAdapter"*/-->
<!--/*@thymesVar id="formData" type="com.capgemini.bedwards.almon.almonmonitoringapi.models.CreateAPIMonitorRequestBody"*/-->

<div class="container" th:fragment="update">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card">
                <h3 class="card-header">Update API Monitor</h3>
                <div class="card-body">
                    <form
                            id="monitorForm"
                            th:object="${formData}"
                            th:action="@{/web/service/{serviceId}/monitor/{monitorId}/update(serviceId=${monitor.getId().getService().getId()},monitorId=${monitor.getId()})}"
                            method="post">

                        <th:block
                                th:include="fragments/monitor/updateScheduledMonitorFragment :: updateScheduledMonitorHeader"/>

                        <h4 class="text-center">API Monitor Values</h4>
                        <hr>
                        <div class="form-group required">
                            <label for="url" class="control-label">URL:</label>
                            <div class="input-group mb-3">
                                <select class="input-group-text" name="method" th:field="*{method}">
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="PUT">PUT</option>
                                </select>
                                <input
                                        th:class="(${#fields.hasErrors('url')}? 'is-invalid ' : '') + 'form-control'"
                                        type="text" id="url" placeholder="Enter Service Name"
                                        name="url" th:field="*{url}"/>
                            </div>
                            <span th:if="${#fields.hasErrors('url')}" class="invalid-feedback" role="alert">
                                        <strong th:errors="*{url}"></strong>
                            </span>
                            <span th:if="${#fields.hasErrors('method')}" class="invalid-feedback" role="alert">
                                        <strong th:errors="*{method}"></strong>
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="body" class="control-label">Payload:</label>
                            <textarea
                                    th:class="(${#fields.hasErrors('body')}? 'is-invalid ' : '') + 'form-control'"
                                    id="body" rows="3"
                                    placeholder="Enter Request Body"
                                    th:field="*{body}"
                            ></textarea>

                            <span th:if="${#fields.hasErrors('body')}" class="invalid-feedback" role="alert">
                                    <strong th:errors="*{body}"></strong>
                            </span>
                        </div>
                        <div class="form-group required">
                            <label for="expectedStatusCode" class="control-label">Expected Status Code:</label>
                            <input
                                    th:class="(${#fields.hasErrors('expectedStatusCode')}? 'is-invalid ' : '') + 'form-control'"
                                    type="number"
                                    min="100"
                                    max="999"
                                    id="expectedStatusCode" placeholder="Enter Expected Status Code"
                                    name="expectedStatusCode" th:field="*{expectedStatusCode}"/>
                            <span th:if="${#fields.hasErrors('expectedStatusCode')}" class="invalid-feedback"
                                  role="alert">
                                        <strong th:errors="*{expectedStatusCode}"></strong>
                                </span>
                        </div>
                        <br>
                        <div class="col-12">
                            <h2 class="text-center">Headers</h2>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-6">Name</th>
                                    <th class="col-6">Value</th>
                                </tr>
                                </thead>
                                <tbody id="headerTable">
                                </tbody>
                            </table>
                            <div class="form-group">
                                <button type="button" class="form-control btn-block btn btn-info" onclick="addHeader()">
                                    Add Header
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <h2 class="text-center">Json Path Verifications</h2>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-6">Json Path</th>
                                    <th class="col-6">Expected Value</th>
                                </tr>
                                </thead>
                                <tbody id="jsonPathVerificationTable">
                                </tbody>
                            </table>
                            <div class="form-group">
                                <button type="button" class="form-control btn-block btn btn-info"
                                        onclick="addJsonPathVerification()">
                                    Add Json Path Verification
                                </button>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <button type="submit" class="form-control btn-block btn btn-primary">Update Monitor</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>

        function addJsonPathVerification(defaultJsonPath = "", defaultVerification = "", errorMessage = []) {
            let headerText =
                '<tr class="map">' +
                '<th><div class="form-group"><input class="form-control map-key" type="text" placeholder="Enter Json Path" name="jsonPathValidations.key" value="' + defaultJsonPath + '"/></div></th>\n' +
                '<th><div class="form-group"><input class="form-control ' + (errorMessage.length > 0 ? 'is-invalid' : '') + ' map-value" type="text" placeholder="Enter Expected Value" data-name-prefix="jsonPathValidations." name="jsonPathValidations." value="' + defaultVerification + '"/>';

            errorMessage.forEach(function (item, index) {
                headerText += '<span class="invalid-feedback" role="alert"> <strong>' + item + '</strong></span>';
            });
            headerText += '</div></th>\n</tr>';
            $("#jsonPathVerificationTable").append(headerText);
        }

        function addHeader(defaultKey = "", defaultValue = "") {
            const headerText =
                '<tr class="map">' +
                '<th><input class="form-control map-key" type="text" placeholder="Enter Header Name" name="map-key"  value="' + defaultKey + '"/></th>\n' +
                '<th><input class="form-control map-value" type="text" placeholder="Enter Header Value" name="map-value" data-name-prefix="headers." value="' + defaultValue + '"/></th>\n' +
                '</tr>';
            $("#headerTable").append(headerText);
        }

        $("#monitorForm").submit(function () {
            $(".map-key").each(function () {
                $(this).prop("disabled", true);
                const headerKey = $(this).val();
                const headerValDom = $(this).closest('.map').find('.map-value');

                if (headerKey.length === 0) {
                    headerValDom.prop("disabled", true);
                } else {
                    headerValDom.attr('name', headerValDom.data("name-prefix") + headerKey);
                }
            });
            return true;
        });

    </script>

    <script th:inline="javascript" th:if="${formData != null && formData.getHeaders() != null}">
        /*[# th:each="header : ${formData.getHeaders().entrySet()}"]*/
        addHeader(/*[[${header.getKey()}]]*/, /*[[${header.getValue()}]]*/);
        /*[/]*/
    </script>

    <script th:inline="javascript"
            th:if="${formData != null && formData.getJsonPathValidations() != null}">
        /*[# th:each="jsonPathVerification : ${formData.getJsonPathValidations().entrySet()}"]*/
        addJsonPathVerification([[${jsonPathVerification.getKey()}]], [[${jsonPathVerification.getValue()}]], [[${#fields.errors('formData.jsonPathValidations['+ jsonPathVerification.getKey()+ ']')}]]);
        /*[/]*/
    </script>

</div>
