<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="fragments/head :: head"/>
    <title th:text="${@environment.getProperty('almon.app.name')} + '- Login'"></title>
</head>
<body>
<div class="container-fluid">
    <th:block th:insert="fragments/header :: header(activeTab='login')"/>
    <!-- Main Content Start -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <div class="card">
                <h3 class="card-header">Account Pending Approval</h3>
                <div class="card-body">
                    <p class="card-text">We have received your registration request.</p>
                    <p class="card-text">As per security requirements your
                        account has been placed into a holding state until an administrator can approval your
                        registration request</p>
                    <p class="card-text">Once your account has been approved you will receive an email. This can take several days.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content End -->
    <th:block th:insert="fragments/foorter :: footer"/>
</div>
</body>
</html>