<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
>
<!--/*@thymesVar id="screenAlerts" type="java.util.List"*/-->
<!--/*@thymesVar id="screenAlert" type="com.capgemini.bedwards.almon.almonaccessweb.model.util.ScreenAlert"*/-->
<div  style="z-index: 10000;" th:fragment="header (activeTab)">

    <div class="sticky-top" id="alerts">
        <th:block th:each="screenAlert: ${screenAlerts}">
            <div th:class="'alert alert-dismissible fade show ' +  ${screenAlert.getHtmlClass()}" role="alert">
                [[${screenAlert.getMessage()}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </th:block>
    </div>
    <!-- Nav Bar -->


    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand m-2" th:text="${@environment.getProperty('almon.core.app.name')}"></a>
        <!-- Collaps nav bar links on small screens -->
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent"
                aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse " id="navbarSupportContent">
            <th:block th:insert="fragments/auth/navContent :: autodetect"/>
        </div>
    </nav>
    <br>
</div>