<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
>

<th:block th:fragment="serviceRoleAssignmentModal(modelId,service)">
    <!--/*@thymesVar id="service" type="com.capgemini.bedwards.almon.almondatastore.models.service.Service"*/-->
    <div class="modal fade" th:id="${modelId}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Role Assignment for user:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Role Assignment</h2>


                    <div class="form-group input-group">
                        <input class="form-control" type="email" required th:id="${modelId} + 'EmailBox'"
                               placeholder="Email..."
                               onkeydown="this.setCustomValidity('');">
                        <select class="input-group-text" th:id="${modelId} + 'RoleType'">
                            <option value="STANDARD">Standard</option>
                            <option value="ADMIN">Admin</option>
                        </select>
                        <button type="button" class="btn btn-primary" onclick="addServiceRoleAccountToModal()"
                        >Add Account
                        </button>
                    </div>
                    <br>
                    <table class="table table-bordered table-striped" th:id="${modelId} + 'SearchTable'">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <form th:id="${modelId} + 'UpdateServiceRolesForm'">
                            <tbody th:id="${modelId} + 'AccountContainer'">
                            </tbody>
                        </form>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" th:form="${modelId} + 'UpdateServiceRolesForm'">Save
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script>
        const updateServiceRolesFormElement = $('#[[${modelId}]]UpdateServiceRolesForm');
        const emailBoxElement = $('#[[${modelId}]]EmailBox');
        const emailBoxDomElement = document.getElementById('[[${modelId}]]EmailBox');
        const roleTypeElement = $('#[[${modelId}]]RoleType');
        const serviceAccountContainerElement = $('#[[${modelId}]]AccountContainer');
        const serviceAccountContainerEmails = new Set();

        function addServiceRoleAccountToModal() {
            const email = emailBoxElement.val();
            const roleType = roleTypeElement.val();
            if (!emailBoxDomElement.checkValidity()) {
                emailBoxDomElement.reportValidity();
                return;
            }
            if (serviceAccountContainerEmails.has(email)) {
                emailBoxDomElement.setCustomValidity('This email is already in ths list');
                emailBoxDomElement.reportValidity();
                return;
            }

            serviceAccountContainerEmails.add(email);
            emailBoxElement.val("");
            let appendText = " <tr class='item'>\n" +
                "                            <td>\n" +
                "                                <input class=\"form-control email\" type=\"email\" disabled=\"disabled\"\n" +
                "                                       value=\"" + email + "\">\n" +
                "                            </td>\n" +
                "                            <td><select class=\"input-group-text role\">\n" +
                "                                <option value=\"STANDARD\" " + (roleType === "STANDARD" ? "selected=\"selected\"" : "") + ">Standard</option>\n" +
                "                                <option value=\"ADMIN\" " + (roleType === "ADMIN" ? "selected=\"selected\"" : "") + ">Admin</option>\n" +
                "                            </select>\n" +
                "                            </td>\n" +
                "                            <td>\n" +
                "                                <button type=\"button\" class=\"btn btn-danger\"\n" +
                "                                        onclick=\"removeRowFromServiceRoleModal(this)\">\n" +
                "                                    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\"\n" +
                "                                         fill=\"currentColor\" class=\"bi bi-trash\" viewBox=\"0 0 16 16\">\n" +
                "                                        <path d=\"M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z\"></path>\n" +
                "                                        <path fill-rule=\"evenodd\"\n" +
                "                                              d=\"M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z\"></path>\n" +
                "                                    </svg>\n" +
                "                                </button>\n" +
                "                            </td>\n" +
                "                        </tr>";
            serviceAccountContainerElement.append(appendText);
        }

        function removeRowFromServiceRoleModal(element) {
            const parent = $(element).closest("tr");
            const email = parent.find("input[type=email]").val();
            serviceAccountContainerEmails.delete(email);
            parent.remove();
        }


        updateServiceRolesFormElement.submit(function (event) {
                event.preventDefault();
                if (serviceAccountContainerElement.children().length === 0) {
                    showPopup("Error", "At least one email must be present");
                    return;
                }
                if (!confirmationPrompt("Service role assignment", "Are you sure you want to update the roles on this service?"))
                    return;

                const standardUsers = new Set();
                const adminUsers = new Set();

                serviceAccountContainerElement.find(".item").each(function (i, item) {
                    console.log(item);
                    const email = $(item).find('.email').first().val();
                    const role = $(item).find('.role').first().val();

                    if (role === 'STANDARD')
                        standardUsers.add(email);
                    if (role === 'ADMIN')
                        adminUsers.add(email);
                });

                const json = {};

                if (adminUsers.size > 0)
                    json.admin = Array.from(adminUsers);
                if (standardUsers.size > 0)
                    json.standard = Array.from(standardUsers);


                const url = "/web/service/[[${service.getId()}]]/users";
                const token = $("meta[name='_csrf']").attr("content");
                const header = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    type: 'PUT',
                    url: url,
                    contentType: 'application/json',
                    data: JSON.stringify(json),
                    beforeSend: function (request) {
                        request.setRequestHeader(header, token);
                    },
                    complete: function (xhr, textStatus) {
                        if (xhr.status === 200) {
                            showPopup("Role Update", "Successfully added roles to users");
                            refreshPage();
                        } else if (xhr.status === 404) {
                            showPopup("Error - Not Found", $.parseJSON(xhr.responseText).description);
                        } else {
                            showAlertError("Failed to assign user roles. Please consult an administrator");
                        }
                    }
                });
            }
        );
    </script>


</th:block>