<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<th:block th:fragment="createScheduledMonitorHeader">

    <th:block th:include="fragments/monitor/createMonitorFragment :: createMonitorHeader"/>
    <div class="form-group required">
        <label for="cronExpression" class="control-label">Cron Expression:</label>
        <input
                th:class="(${#fields.hasErrors('cronExpression')}? 'is-invalid ' : '') + 'form-control'"
                type="text" id="cronExpression" placeholder="Enter Cron Expression"
                name="cronExpression" th:field="*{cronExpression}"/>
        <span th:if="${#fields.hasErrors('cronExpression')}" class="invalid-feedback" role="alert">
                                        <strong th:errors="*{cronExpression}"></strong>
                                </span>
    </div>
    <br>
</th:block>