<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
>
<div class="row" th:fragment="viewAlerts(alerts)">
    <!--/*@thymesVar id="alerts" type="java.util.List"*/-->
    <!--/*@thymesVar id="alert" type="com.capgemini.bedwards.almon.almondatastore.models.alert.Alert"*/-->
    <div class="col-md-12">
        <div class="card mb-4 mb-md-0">
            <div class="card-title">
                <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <p class="mb-0"><strong>Alerts</strong></p>
                    </li>
                </ul>
            </div>
            <div class="card-body row col-12">
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Created At</th>
                        <th>Status</th>
                        <th class="d-flex justify-content-end">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alert : ${alerts}">
                        <td th:text="${alert.getCreatedAt()}"></td>
                        <td th:text="${alert.getStatus()}"></td>
                        <td class="d-flex justify-content-end">
                            <a href="#" class="btn btn-primary mx-2"
                               th:data-serviceId="${service.getId()}"
                               th:data-monitorId="${monitor.getId()}"
                               th:data-alertId="${alert.getId().toString()}"
                               onclick="showAlertDetails(this.getAttribute('data-serviceId'),this.getAttribute('data-monitorId'),this.getAttribute('data-alertId'))"
                            >View Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <th:block th:insert="fragments/util/pagintation :: standard('Alerts','alert')"/>
            </div>
        </div>
    </div>

    <div class="modal fade" id="alertHtmlModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Monitor Selection</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="alertHtmlModalBody">
                    <p>Placeholder</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showAlertDetails(serviceId, monitorId, alertId) {
            const url = "/web/service/" + serviceId + "/monitor/" + monitorId + "/alert/" + alertId
                + "/html"

            fetch(url).then(response => {
                return response.text();
            }).then(html => {
                console.log(html);
                $('#alertHtmlModalBody').html(html);
                $('#alertHtmlModal').modal('show');
            });
        }

    </script>
</div>