<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
>

<!--/*@thymesVar id="monitor" type="com.capgemini.bedwards.almon.almondatastore.models.monitor.Monitor"*/-->
<!--/*@thymesVar id="service" type="com.capgemini.bedwards.almon.almondatastore.models.service.Service"*/-->
<th:block th:fragment="viewDetails(service, monitor)">
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Service Name</p>
        </div>
        <div class="col-sm-9">
            <a th:href="'/web/service/' + ${service.getId()}">
                <p class="text-muted mb-0" th:text="${service.getName()}"></p>
            </a>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Monitor Name</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0" th:text="${monitor.getName()}"></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <p class="mb-0">Monitor Description</p>
        </div>
        <div class="col-sm-9">
            <p class="text-muted mb-0" th:text="${monitor.getDescription()}"></p>
        </div>
    </div>
</th:block>