<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
>

<div class="container-fluid" th:fragment="view(monitorInfoContentFragment,additionalContentFragment)">
    <!--/*@thymesVar id="monitor" type="com.capgemini.bedwards.almon.almondatastore.models.monitor.Monitor"*/-->
    <!--/*@thymesVar id="service" type="com.capgemini.bedwards.almon.almondatastore.models.service.Service"*/-->
    <!--/*@thymesVar id="listAlerts" type="java.util.List"*/-->
    <!--/*@thymesVar id="alert" type="com.capgemini.bedwards.almon.almondatastore.models.alert.Alert"*/-->
    <!--/*@thymesVar id="notificationHelper" type="com.capgemini.bedwards.almon.notificationcore.NotificationHelper"*/-->
    <div class="overlay" id="runningOverlay">
        <div class="spinner"></div>
        <br/>
        Running ...
    </div>


    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h4>Monitor</h4>
                            <h5 class="my-3" th:text="${monitor.getId()}"></h5>
                            <!--                        <p class="text-muted mb-1">Placeholder</p>-->
                            <!--                        <p class="text-muted mb-4">Placeholder</p>-->
                            <div class="d-flex justify-content-center mb-2"
                                 th:if="${#authorization.expression('hasAuthority(''RUN_MONITORS'') || hasAuthority(''SERVICE_' + service.getId() + '_MONITOR_' + monitor.getId() +'_CAN_RUN'')')}"
                            >
                                <button type="button" class="btn btn-primary mx-2"
                                        th:data-monitorId="${monitor.getId()}"
                                        th:data-serviceId="${service.getId()}"
                                        onclick="redirect('/web/service/' + this.getAttribute('data-serviceId') + '/monitor/' + this.getAttribute('data-monitorId') + '/update')"
                                >Update
                                </button>

                                <button type="button" class="btn btn-outline-primary mx-2"
                                        th:data-monitorId="${monitor.getId()}"
                                        th:data-serviceId="${service.getId()}"
                                        onclick="runMonitor(this.getAttribute('data-serviceId'),this.getAttribute('data-monitorId'),'runningOverlay')"
                                >Run Now
                                </button>
                            </div>
                            <div>
                                <div class="d-flex justify-content-center mb-2">
                                    <th:block
                                            th:if="${#authorization.expression('hasAuthority(''ENABLE_DISABLE_MONITORS'') || hasAuthority(''SERVICE_' + monitor.getId() + '_MONITOR_' + monitor.getId() +'_CAN_ENABLE_DISABLE'')')}">
                                        <button th:if="${monitor.isEnabled()}" href="#" class="btn btn-danger mx-2"
                                                th:data-monitorId="${monitor.getId()}"
                                                th:data-serviceId="${service.getId()}"
                                                onclick="disableMonitor(this.getAttribute('data-serviceId'),this.getAttribute('data-monitorId'),this)"
                                        >Disable Monitor
                                        </button>
                                        <button th:if="${!monitor.isEnabled()}" href="#" class="btn btn-success mx-2"
                                                th:data-monitorId="${monitor.getId()}"
                                                th:data-serviceId="${service.getId()}"
                                                onclick="enableMonitor(this.getAttribute('data-serviceId'),this.getAttribute('data-monitorId'),this)"
                                        >Enable Monitor
                                        </button>
                                    </th:block>
                                    <th:block
                                            th:if="${#authorization.expression('hasAuthority(''DELETE_MONITORS'') || hasAuthority(''SERVICE_' + monitor.getId() + '_MONITOR_' + monitor.getId() +'_CAN_DELETE'')')}">
                                        <button href="#" class="btn btn-danger mx-2"
                                                th:data-monitorId="${monitor.getId()}"
                                                th:data-serviceId="${service.getId()}"
                                                onclick="deleteMonitor(this.getAttribute('data-serviceId'),this.getAttribute('data-monitorId'),this)"
                                        >Delete Monitor
                                        </button>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>

                    <th:block
                            th:include="fragments/monitor/BASE/viewAlertFilterFragment :: alertsFilter(${alertFilterOptions},${currentPage},${pageSize})"/>
                    <br>
                    <th:block
                            th:include="fragments/monitor/BASE/viewNotificationsFragment :: viewNotifications(${notificationHelper})"/>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <th:block
                                th:include="fragments/monitor/BASE/viewScheduledMonitorDetailFragmentTop :: viewDetails(${service},${monitor})"/>
                            <th:block th:if="${monitorInfoContentFragment}!=null">
                                <th:block th:insert="__${monitorInfoContentFragment}__"/>
                            </th:block>
                        </div>
                    </div>
                    <th:block
                        th:include="fragments/monitor/BASE/viewAlertsFragment :: viewAlerts(${listAlerts})"/>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <th:block
                        th:include="fragments/monitor/BASE/viewMonitorChartsFragment :: viewCharts(${chartData})"/>
                </div>
            </div>
        </div>
        <th:block th:if="${additionalContentFragment}!=null">
            <th:block th:insert="__${additionalContentFragment}__"/>
        </th:block>
    </section>


    <script
            th:if="${#authorization.expression('hasAuthority(''ENABLE_DISABLE_MONITORS'') || hasAuthority(''SERVICE_' + service.getId() + '_MONITOR_' + monitor.getId() +'_CAN_ENABLE_DISABLE'')')}"
            th:src="@{/web/js/monitor/enableDisableMonitor.js}">
    </script>
    <script
            th:if="${#authorization.expression('hasAuthority(''RUN_MONITORS'') || hasAuthority(''SERVICE_' + service.getId() + '_MONITOR_' + monitor.getId() +'_CAN_RUN'')')}"
            th:src="@{/web/js/monitor/runMonitor.js}">
    </script>
    <script
            th:if="${#authorization.expression('hasAuthority(''DELETE_MONITORS'') || hasAuthority(''SERVICE_' + service.getId() + '_MONITOR_' + monitor.getId() +'_CAN_DELETE'')')}"
            th:src="@{/web/js/monitor/deleteMonitor.js}">
    </script>
</div>
